/**
 * Plugin CSS
 *
 * @package wmp
 * @developer Maroun Melhem <http://maroun.me>
 * @version 1.0
 *
 */

.wmp_page .wmp_disabled {
    cursor: none;
    pointer-events: none;
    opacity: .6;
}

.wmp_page .wmp_rotate {
    transform: rotate(180deg);
}

.wmp_page .wmp_cursor {
    cursor: pointer;
}